<!-- Extentions From BAse Page -->
{% extends 'app/base.html' %}
{% load static %}

{% block main-content %}

<h1 style="font-size: 36px; font-weight: bold; color: #008080; text-align: center; margin-top: 50px; margin-bottom: 30px;">Frequently Asked Questions (FAQs)</h1>

<br>
<!-- Info To Show -->
<style>
  .question {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 20px;
  }
  
  .answer {
    margin-bottom: 30px;
  }
  
  .faq-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 1.1em;
  }
</style>
<div class="faq-container">
  <div class="question">What payment methods do you accept?</div>
  <div class="answer">We accept all major credit cards, as well as PayPal and Apple Pay.</div>
  <div class="question">How do I access my digital products after purchase?</div>
  <div class="answer">Once you complete your purchase, you'll receive an email with a link to download your digital products. You can also access your purchases by logging into your account on our website.</div>
  <div class="question">Can I return or exchange my digital products?</div>
  <div class="answer">Due to the nature of digital products, we do not offer returns or exchanges. However, if you have any issues with your purchase, please contact our customer support team and we'll do our best to assist you.</div>
  <div class="question">How do I get technical support for my e-stationery product?</div>
  <div class="answer">If you're experiencing technical issues with any of our products, please contact our customer support team by email or phone. We'll do our best to troubleshoot the issue and provide a solution.</div>
  <div class="question">Do you offer customization options for your digital products?</div>
  <div class="answer">Yes, we offer a range of customization options for many of our digital products. Please contact our customer support team for more information.</div>
  <div class="question">How do I cancel my subscription?</div>
  <div class="answer">If you wish to cancel your subscription, please log into your account on our website and navigate to the subscription section. From there, you can cancel your subscription and manage your payment settings.</div>
  <div class="answer">If you have any further questions or concerns, please don't hesitate to contact our customer support team by email or phone. We're always here to help!</div>
</div>
<br><br>
<center>
  <h3><b><br><br>
      <center>Thank You !!</center>
    </b>
    <br><br>
  </h3>
</center>
<br><br>
</div>
</div>
<br><br><br>




<!-- Banner Done -->
{% endblock main-content %}
<!-- End Of amin Content Of About Page -->

<!-- Banner Implementation -->
