/* 
.goodnessseccont{
    /* background-color: blue; */
    /* margin-left: 100px; */
/* }
#1{
    background-color: antiquewhite;
}
#2{
    background-color: blueviolet;
}
#3{
background-color: red;
}
.goodnesssec8{ */
    /* background-attachment: red; */
/* } */ 